body {
}

#container {
  width: 300px;
  word-wrap: normal;
  margin: 10px;
}

#header {
  height: 20px;
  margin: 2px 2px;
}

#back-btn {
  float: left;
  color: #777;
}

#setting-btn {
  float: right;
  color: #777;
}

#stocks {
  list-style: none;
  max-height: 500px;
  overflow: scroll;
}

.stock-cell {
  margin: 4px 4px;
  border-bottom: 1px solid #ddd;
}

.stock-cell:last-child {
  border-bottom: none;
}
